<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}


<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Rango -
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="{%static 'images/vegetable_chicken.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{%static 'style/base.css' %}">
        
        {% block sheet_block %}
        {% endblock %}
    </head>

    <body>
        <div class="main">
            <nav class="header">
                <ul>
                    <li><a class="nav-link" style="width: 5%" href="{% url 'rango:index' %}">Home</a></li>
                    <li><a class="nav-link" style="width: 5%" href="{% url 'rango:about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="nav-link" style="width: 5%" href="{% url 'rango:restricted' %}">Restricted</a></li>
                    <li><a class="nav-link" style="width: 5%" href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
                    <li><a class="nav-link" style="width: 5%" href="{% url 'rango:add_category' %}">Add Category</a></li>
{#                    <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="{% url 'rango:profile' user.username %}">Profile</a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="{% url 'rango:list_profiles' %}">List Profiles</a></li>#}
                    {% else %}
                    <li><a class="nav-link" style="width: 5%" href="{% url 'registration_register' %}">Register Here</a></li>
                    <li><a class="nav-link" style="width: 5%" href="{% url 'auth_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="app">
                <aside>
                    <div>
                        <div id="sidebar" style="width:20%;float: left">
                           <div>
                              <input type="search" id="search-input" class="form-control ds-input" placeholder="Search..." />
                           </div>
           
                            <div class="sidebar-sticky" id="categories-listing">
                               {% block sidebar_block %}
                                   {% get_category_list category %}
                               {% endblock %}
                            </div>
                        </div>
                   </div>
                </aside>
                <article>
                {% block body_block %}
                {% endblock %}
                </article>
            </div>
        </div>

    <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/rango-ajax.js" %}" crossorigin="anonymous"></script>
    </body>
</html>