<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}


<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Rango -
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>
    </head>

    <body>
        <div>
            {% block navibar_block %}
                <ul class="navbar-nav mr-auto">
                        <a class="nav-link" style="width: 5%" href="{% url 'rango:index' %}">Home</a>
                        <a class="nav-link" style="width: 5%" href="{% url 'rango:about' %}">About</a>
                        {% if user.is_authenticated %}
                        <a class="nav-link" style="width: 5%" href="{% url 'rango:restricted' %}">Restricted</a>
                        <a class="nav-link" style="width: 5%" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
                        <a class="nav-link" style="width: 5%" href="{% url 'rango:add_category' %}">Add Category</a>
{#                        <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a></li>#}
{#                        <li class="nav-item"><a class="nav-link" href="{% url 'rango:profile' user.username %}">Profile</a></li>#}
{#                        <li class="nav-item"><a class="nav-link" href="{% url 'rango:list_profiles' %}">List Profiles</a></li>#}
                        {% else %}
                        <a class="nav-link" style="width: 5%" href="{% url 'registration_register' %}">Register Here</a>
                        <a class="nav-link" style="width: 5%" href="{% url 'auth_login' %}">Login</a>
                        {% endif %}
                </ul>
            {% endblock %}
            <hr />
        </div>

        <div>
             <div id="sidebar" style="width:20%;float: left">
                <div>
                   <input type="search" id="search-input" class="form-control ds-input" placeholder="Search..." />
                </div>

                 <div class="sidebar-sticky" id="categories-listing">
                    {% block sidebar_block %}
                        {% get_category_list category %}
                    {% endblock %}
                 </div>
             </div>


            <div id="body block" style="width:80%;float: left">
                {% block body_block %}
                {% endblock %}
            </div>
        </div>
        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'rango:restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'auth_logout' %}?next={% url 'rango:index' %}">Logout</a></li>
                <li><a href="{% url 'rango:add_category' %}">Add a New Category</a></li>
                <li><a href="{% url 'auth_password_change' %}">Change your Password</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
                <li><a href="{% url 'rango:about' %}">About</a></li>
                <li><a href="{% url 'rango:index' %}">Index</a></li>
            </ul>
        </div>

    <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/rango-ajax.js" %}" crossorigin="anonymous"></script>
    </body>
</html>