{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block sheet_block %}
<link rel="stylesheet" href="{%static 'style/register.css' %}">
{% endblock %}

{% block body_block %}
<section class="content-head">
    <h1>Register for Rango</h1>
    {% if registered %}
    <p>Rango says: <strong>thank you for registering!</strong></p>
<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
{% else %}
<p>Rango says: <strong>register here!</strong><br /></p>
</section>
<form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ user_form.username.errors }}
        <label for="{{ user_form.subject.id_for_username }}">Username:</label>
        {{ user_form.username }}
    </div>
    <div class="fieldWrapper">
        {{ user_form.email.errors }}
        <label for="{{ user_form.email.id_for_email }}">Email:</label>
        {{ user_form.email }}
    </div>
    <div class="fieldWrapper">
        {{ user_form.password.errors }}
        <label for="{{ user_form.password.id_for_password }}">Password:</label>
        {{ user_form.password }}
    </div>
    <div class="fieldWrapper">
        {{ profile_form.website.errors }}
        <label for="{{ profile_form.website.id_for_website }}">Website:</label>
        {{ profile_form.website }}
    </div>
    <div class="fieldWrapper">
        {{ profile_form.picture.errors }}
        <label for="{{ profile_form.picture.id_for_picture }}">Picture:</label>
        {{ profile_form.picture }}
    </div>
    <button type="submit" name="submit" value="Register" class="button button-blue">Register</button>
</form>
{% endif %}
{% endblock %}