@blkColor: #555;
@whtColor: #efefef;
@realBlk: #111;
@realWht: #fff;
@greenBtn: #34c2af;

.comment-ul {
  margin-top: 20px;
  width: 70%;
  overflow: revert;
}
.comment-li {
  padding-top: 10px;
  img {
    border-radius: 50%;
    border: 1px solid;
  }
  .username {
    padding: 0 5px;
    text-align: center;
  }
  .content {
    margin: 10px 0 0 40px;
    padding: 10px;
    border: 1px solid @blkColor;
  }
}
.list {
  margin: 10px 0;
  li {
    padding: 5px 0;
  }
  li:hover {
    text-decoration: underline;
  }
}
.content{
  width: 100%;
  >p {
    word-wrap:break-word;
    overflow-wrap:break-word;
  }
}
.inline-top {
  display: inline;
  margin-top: 0;
  margin-right: 20px;
  vertical-align: middle;
}